body {
    background: linear-gradient(to right, #f84655, #480048);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

img {
    height: 170px;
    width: 140px
}

.img-fluid {
    max-width: 200px;
    margin-right: 20px
}

.container-fluid {
    margin-top: 50px;
}

main {
    margin-bottom: 60px
}

.scrolled-down {
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scrolled-up {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}


/* Fim index */