.card {
    background-color: rgba(0, 0, 0, 0.4) !important;
}

.index-selects {
    width: 400px;
}

.row-select {
    margin-top: 60px;
    margin-bottom: 40px
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-color-icons {
    color: #ffA000 !important;
}

li.completed::after {
    background-color: #ffA000 !important;
}

li.active::before {
    background-color: #ffA000 !important;
}

li.active::after {
    background-color: #ffA000 !important;
}

li.completed::before {
    background-color: #ffA000 !important;
}

.select2-container .select2-selection--single {
    height: 40px;
    font-size: 18px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    line-height: 39px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 4px;
}

table {
    margin-top: 30px;
}

.buton-options {
    margin-top: 5px;
    margin-bottom: 5px;
}

span.icon-button {
    display: block;
}